.auth-container {
  width: 100vw;          /* full screen width */
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2ecec;
}

.auth-card {
  background: white;
  padding: 32px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: #6b4e4e;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.auth-link {
  margin-top: 12px;
  font-size: 14px;
}
