.home-section {
  padding: 50px;
}

.hero h1 {
  font-size: 42px;
  line-height: 1.3;
  max-width: 600px;
  color: #4e1c1c;
}

.card-row {
  display: flex;
  gap: 80px;
    margin-top: 50px;
   
    padding-bottom: 16px;
}
.card-row-wrapper {
  overflow-x: auto;       /* scroll only here */
  padding-bottom: 10px;   /* optional for space */
}


.top-sellers-section {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  margin: 40px;
}

.side-title {
  min-width: 160px;
  font-size: 24px;
  margin:0;
  padding-top: 125px;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
}