.buyer-container {
  padding: 40px;
  background-color: #f2ecec;
  min-height: 100vh;
}

.dashboard-title {
  margin-bottom: 20px;
}

/* PROFILE CARD */
.profile-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  margin-bottom: 25px;
}

/* GRID LAYOUT */
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* DASHBOARD BOXES */
.dashboard-box {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* TABLE STYLING */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* BUTTONS */
.primary-btn {
  background-color: #6b4e4e;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
}

.secondary-btn {
  background-color: #6b4e4e;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
}
